*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f0f0f0;
}

#header {
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;
    margin-top: 25px;
}

#header-title {
    font-size: 4rem;
    color: #FF87B2;
    text-shadow: 5px 5px #B270A2;
}

#winner {
    font-size: 1.25rem;
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 25px;
    border: 30px solid #FF87B2;
    border-radius: 15px;
}

#gameboard .square {
    background-color: white;
    border: 2px solid gray;
    border-left: none;
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

.pink {
    background-color: pink;
}

#gameboard .left {
    border-left: 2px solid gray;
}

#gameboard .bottom {
    border-bottom: 2px solid gray;
}

#restart-game {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

#restart-btn {
    background-color: #FF87B2;
    color: white;
    border: thin solid #F3E9DD;
    border-radius: 10px;
    padding: 15px 40px;
    font-size: 1.5rem;
}

#restart-btn:hover {
    background-color: white;
    color: #FF87B2;
    transition: 0.4s;
}

#footer {
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
}